<?xml version='1.0' encoding='utf-8'?>
<widget id="com.Gameriders.ONAFP" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="https://phonegap.com/ns/1.0">
	<name>ONAFP</name>
	<description>
		Offical Mobile Port Of ONAFP
	</description>

	<author email="seymourbutts@phonegap.com" href="https://phonegap.com">
	   Gameriders
	</author>

<icon src="icon.png" />
	<preference name="phonegap-version" value="cli-6.0.0" />